version: '3.8'

services:
  jekyll:
    build: .
    ports:
      - "4005:4000"
    volumes:
      - .:/site
      - bundle_cache:/usr/local/bundle
    command: bundle exec jekyll serve --host 0.0.0.0 --livereload --force_polling
    environment:
      - JEKYLL_ENV=development

volumes:
  bundle_cache:
