{% case lang %}
{% when 'nl' %}
    {% assign services_folder = "diensten" %}
    {% assign cities_folder = "cities" %}
    {% assign guides_folder = "gidsen" %}
    {% assign emergency_folder = "noodgeval" %}
    {% assign brands_folder = "merken" %}
{% when 'en' %}
    {% assign services_folder = "services" %}
    {% assign cities_folder = "cities" %}
    {% assign guides_folder = "guides" %}
    {% assign emergency_folder = "emergency" %}
    {% assign brands_folder = "brands" %}
{% else %}
    {% assign services_folder = "services" %}
    {% assign cities_folder = "cities" %}
    {% assign guides_folder = "guides" %}
    {% assign emergency_folder = "urgence" %}
    {% assign brands_folder = "marques" %}
{% endcase %}
