<!DOCTYPE html>
<html lang="{{ page.lang | default: 'fr' }}-BE">
<head>
    {% include head.html %}
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K9VS86QX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}

    <main id="main-content">
        {{ content }}
    </main>

    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>
